.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**.venv
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
**.csv.gz
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**test.py
**data
*.prefectignore
week_5_batch_processing/fhvhv/
week_5_batch_processing/homework/fhvhv/2021/06
service_account_info.json

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content


